.img {
    width: 25%;
    position: fixed;
    top: 300px;
    left: 67%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0 100px;
    margin-top: 80px;
    gap: 5px;


}
